body {

    background-color: rgb(211, 140, 140) !important;

    font-family: Arial, Helvetica, sans-serif;

}

.container {

    display: flex;

    flex-direction: column;

    align-items: center;

}

.sub-container {

    display: flex;

    width: 50%;

    max-width: 1200px;

}

.chat-input{

    flex-direction: row;

    align-items: left;

}

.chat-feed{

    flex-direction: column;  

    align-items: left;

}

input{

    display: inline;

    padding: 5px;

    margin: 10px 10px 0 0;

    height: 20px;

}

.chat-input-name {

    width: 20%;

}

.chat-input-msg{

    width: 65%;

}

button{

    height: 28px;

    margin-top: 10px;

}

.chat-header{

    margin-top: 10px;

    font-size: 24px;

    text-align: center;

}

.chat-box{

    border: 2px solid black;

    height: 300px;

    padding-left: 5px;

    overflow: auto;

}

.containerpop{

    position: absolute;

    right: 80px;

    top: 0px;

}

.contatinerpop h1{

    color: #fff;

    font-size: 36px;

    margin-bottom: 40px;

}

/* .buttonlog{

    background: #fff;

    padding: 10px 15px;

    color: #34495e;

    font-weight: bolder;

    text-transform: uppercase;

    font-size: 18px;

    border-radius: 5px;

    box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);

    margin-top: 25px;

    text-decoration: none;

    transition: 0.4s;

}

.buttonlog:hover{

    background: #34495e;

    color: #fff;

} */

input{

    margin: 20px auto; 

    display: block;

    width: 50%;

    padding: 8px;

    border: 1px solid gray;

}

p{

    overflow-wrap: break-word;

}





@media (max-width: 800px) {

    .sub-container {

        width: 75%;

    }

}





/*.containerpop{

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

    text-align: right;

}